<div class="background d-flex">

  <div *ngIf="apod; else loading" class="container d-flex justify-content-center align-items-center">

    
    <div class="card border-0 my-4">
      <a class="backIcon" routerLink="/">
        <fa-icon [icon]="backIcon" [fixedWidth]="true">
  
        </fa-icon>
      </a>
      <img *ngIf="apod!.media_type === 'image'" class="card-img-top" src="{{apod!.url}}" alt="{{apod!.title}}">
      <div *ngIf="apod!.media_type === 'video'" class="wrapper">
        <div class="h_iframe">
          <img class="ratio" src="../../../assets/images/16x9.png" />
          <iframe [src]="apod!.url | safe" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="card-body text-left">
        <p class="card-title"><strong>{{apod!.title}}</strong></p>
        <p class="card-body">{{apod!.explanation}}</p>
        <p class="card-text text-end">{{apod!.date}}</p>
      </div>

    </div>


  </div>

</div>

<ng-template #loading>
  <div class="container d-flex justify-content-center align-items-center">
    <app-spinner [color]="'white'" [loadingText]="['Loading.','Loading..','Loading...']"></app-spinner>

  </div>
</ng-template>
