<div class="background">

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand mx-3" routerLink="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/110px-NASA_logo.svg.png" width="35" height="30" class="d-inline-block align-top"
        alt="">
      Pic of the day
    </a>
  </nav>
  <div class="container d-flex justify-content-center align-items-center mt-3">

    <div class="row" *ngIf="!isLoading;else loading">

      <div class="col-12 col-md-6 col-lg-4  mt-2 mb-2" *ngFor="let apod of apods">

        <div class="card border-0 pointer tilt" aTilt [tiltSettings]="tiltSettings" (click)="openDetails(apod)" hover-class="selected">

          <img *ngIf="apod.media_type === 'image'" class="card-img-top" style="max-height: 302.02px"
            src="{{apod.url}}" alt="{{apod.title}}">
          <div *ngIf="apod.media_type === 'video'" class="wrapper">
            <div class="h_iframe">
              <img class="ratio" src="http://placehold.it/16x9" />
              <iframe [src]="apod.url | safe" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

          <div class="card-body text-left">
            <p class="card-subtitle"><strong>{{apod.title}}</strong></p>
            <p class="card-text text-end">{{apod.date}}</p>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<ng-template #loading>
  <app-spinner [color]="'white'" [loadingText]="['Loading.','Loading..','Loading...']"></app-spinner>
</ng-template>
