
@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
}

* {
    font-family: 'Rubik', sans-serif
}

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

* {
  box-sizing: border-box;
}
